[submodule "zsh-completions"]
	path = zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "vim/pack/bundle/start/vim-commentary"]
	path = vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
