.DS_Store
zsh/secret_keys
*.error
*.log

# vim -------------------------

*.swp
vim/doc/tags
vim/.netrwhist
zsh/zsh_history
zsh/cache
vim/tmp
vim/undo
config/nvim/bundle
config/nvim/.netrwhist
tags
tags-ja

# emacs ------------------------

emacs.d/abbrev_defs
emacs.d/dotemacs.el
emacs.d/dotemacs.html
emacs.d/dotemacs.odt
emacs.d/elpa/
emacs.d/ido.last
emacs.d/transient/
emacs.d/url/

# config flotsam -----------------

config/configstore
config/exercism
config/learnyounode
config/yarn
config/coc/extensions/node_modules/
config/gatsby
config/hub
config/devcert
config/karabiner/automatic_backups
