.DS_Store
*.swp
vim/doc/tags
vim/.netrwhist
zsh/zsh_history
zsh/cache
vim/tmp
vim/undo
config/nvim/bundle
config/nvim/.netrwhist
tags
tags-ja
zsh/secret_keys
*.error
*.log
flexget/db-config.sqlite
flexget/received/
